{%  extends 'base.html' %}

{% block content %}
    <div id="root-container">
        <p id="text_area">Test</p>
        <button id="mr_button">Ka!</button>
    </div>
    <script>
                var newWebSocketConnection = new WebSocket("ws://127.0.0.1:8000/ws/live/")
        console.log("started ws connection")
        var btn = document.getElementById("mr_button")
        var txt = document.getElementById("text_area")

        btn.onclick = function (event) {
            newWebSocketConnection.send(JSON.stringify({
                "type":"ka.ka",
                "content":"Ka!"
            }))
        }

        newWebSocketConnection.onmessage = function (event) {
            txt.innerHTML = event.toString()
        }
    </script>


{%  endblock %}